body{
  margin:0;
  text-align: center;
  font-family:  'IBM Plex Sans', sans-serif;
  color: #50505a;
}

h1{
  font-size: 4rem;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Merriweather', serif;
}

h2{
  font-family: 'Merriweather', serif;
  color: #000000;
  font-size: 2rem;
  padding-bottom: 4px;
  margin-top: 16px;
  margin-bottom: 0;
}

h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  margin: 16px auto 16px auto;
  color: #000000;
}



hr{
  border: dotted #e1f1ff 6px;
  border-bottom: none;
  width: 8%;
  margin: 20px auto;
}

img {
    display: inline-block;
    max-width: 100%;
}
.section {
    text-align: center;
    margin: 0 auto;
    margin-bottom: calc(50px + 3vw);
}

.wrap {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

#header {
  width:100vw;
  height:50px;
  line-height:50px;
  border-bottom:1px solid #ececec;
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  font-size:14px;
  z-index:10;
}

.header_wrap {
  display:flex;
  flex-shrink: 0;
}

.header_logo img {
  width:30px;
  position: absolute;
  top:10px;
  left:10px;
}

#header a {
  display:inline-block;
  height:50px;
  color:#282828;
  text-decoration:none;
  padding:0 14px;
  transition: all .3s;
  border-bottom:1px solid white;
  box-sizing:border-box;
}

#header a:hover {
  color:black;
  border-bottom:1px solid #b7b7b7;
}

.header_logo {
  font-weight:900;
}

.header_logo span {
  margin-left:40px;
}

.header_right {
  position: absolute;
  right:0;
  top:0;
  display:inline-flex;
  box-sizing:border-box;
}

.header_social {
  display:inline-flex;
}

.header_social a {
  position:relative;
}

.header_social img {
  position:relative;
  top:5px;
  width:20px;
  filter: brightness(0%);
  opacity:0.9;
  transition: all .3s;
}

.header_social a:hover img {
  filter: brightness(100%);
  opacity:1;
}

#header a.current {
  border-bottom:1px solid #282828
}

#header a[data-page=home].current, #header a[data-page=home]:hover {
  border-bottom:1px solid white;
}

@media screen and (max-width: 950px) {
  #header {
    height:91px;
  }
  #header a, #header a:hover {
    border-bottom:0;
  }
  .header_wrap {
    height:100px;
    justify-content:space-between;
  }
  .header_left {
    position: absolute;
    display:flex;
    justify-content:space-between;
    width:100vw;
    height:40px;
    line-height:40px;
    top:50px;
    border-top:1px solid #ececec;
  }

  #header .header_left a {
    height:40px;
    line-height:40px;
  }

}

@media screen and (max-width: 500px) {
  #header .header_social a { padding:0 5px; }
  #header [data-page='shading'] { display:none; }
}

@media screen and (max-width: 360px) {
  #header { font-size:12px; }
  #header a { padding:0 8px; }
  #header .facebook { display:none; }
}



.hero-section{
  background-color: #e1f1ff;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 80px 0;
}

.bottom-container{
  background-color: #e1f1ff;
  padding: 50px 0 20px;
}

.section-1{
  background-color: blue;
  width: 200px;
  height: 200px;
}

.section-2{
  background-color: red;
  width: 50px;
  height: 20px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 16px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px
}
.land{
  position: relative;
}



.footer-link{
  text-decoration: none;
  font-weight: 700;
  color: #31B9B9;
}

.profile{
  width: 50%;
  margin: 0 auto 40px auto;
}

.skills{
  margin: 40px auto 40px auto;
}

.skill-row {
  width: 50%;
  margin :80px auto 80px auto;
  text-align: left;
}

.media{
  border-radius: 100px;
}

.media-1 {
  float: left;
  margin-right: 24px;
  height: 160px;
  width: 200px;
  border-radius: 80px;

}

.media-2 {
  float: right;
  margin-left: 24px;
  height: 160px;
  width: 200px;
  border-radius: 80px;

}

.contact-me{
  margin: 40px auto 40px auto;
}

.about-me{
  margin: 100px;
}

.topic-tag{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 6px 15px;
    border: 1px solid #000;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}
.topic-tag:hover {
  background-color:#ffffff;
  color:#31B9B9;
  border: 1px solid #31B9B9;
  border-radius: 40px;

}
.topic-tag:active {
  position:relative;
  top:1px;
}


.w-col {
    min-height:1px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;

}


.box--grey-border.rounded-block--transparent.overlap-box-left {
    margin: auto;
    width: 50%;
    padding: 40px 40px 40px 40px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(80, 80, 90, 0.2);

}


.icon-h4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: center;
    text-align: left;
    border-bottom-style: none;
}



.icon-h4--image {
    margin-right: 10px;
    color: #000000;
}

.contact-message{
  margin: auto;
  padding-top: 24px;
  width: 60%;
  line-height: 1.6;
  font-weight: 400;
}

.button {
  	box-shadow: 0 8px 11px -7px #5ec9d9;
  	background-color:#248eb5;
  	border-radius:40px;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:'IBM Plex Sans', sans-serif;
  	font-size:1rem;
  	font-weight:bold;
  	padding:16px 32px;
  	text-decoration:none;
    margin-top: 24px;
  }
  .button:hover {
  	background-color:#017DAB;
  }
  .button:active {
  	position:relative;
  	top:1px;
  }

  .button- {
    display: inline-block;
    padding: 16px 24px;
    font-family: Saira Semi Condensed,sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid #000;
    box-shadow: 0 24px 48px rgba(0,0,0,.2);
    margin-right: 24px;
    background: #ffffff;
}

.button-:hover {
  background-color:#000;
}

.button-2 {
  	box-shadow: 0 8px 11px -7px #5ec9d9;
  	background-color:#248eb5;
  	border-radius:40px;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:'IBM Plex Sans', sans-serif;
  	font-size:1rem;
  	font-weight:bold;
  	padding:16px 32px;
  	text-decoration:none;
    margin-top: 24px;
  }
  .button-2:hover {
  	background-color:#017DAB;
  }
  .button-2:active {
  	position:relative;
  	top:1px;
  }

  .copyright{
    font-size: 0.75rem;
  }







.section {
	text-align: center;
	margin:0 auto;
	margin-bottom: calc(50px + 3vw);
}


h2 {
	font-size:52px;
	margin-bottom:20px;
}

h3 {
	font-size:24px;
	margin-bottom:40px;
}

h1 img {
	width: 46px;
    position: relative;
    top: 2px;
    right: -5px;
}

.wrap.palettes p {
	margin: 0 auto;
	font-size:18px;
}

.wrap.palettes p.big {
	margin:0 auto;
	font-size:24px;
	margin-bottom:20px;
}

.button.special {
	margin:16px auto 10px;
	transition: all 1s;
	font-size: 18px;
	padding: 6px 22px;
	background-color: #4652ff;
	font-size: 18px;
  padding: 4px 90px 4px 20px;
	background-color: #4652ff;
	position: relative;
	box-sizing: border-box;
	background: #36a9ae linear-gradient(to bottom, #37adb2, #329ca0);
	border: 1px solid #2a8387;
	border-width: 1px;
	border-style: solid;
	transition: all .2s;
}

.button.special .price {
	background: #36a9ae linear-gradient(to bottom, #3ebec3, #3ba9ad);
	border-left: 1px solid rgba(0,0,0,0.2);
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px 16px;
	border-radius: 0 4px 4px 0;
}

.thumbnails {
	margin-top:50px;
	display:flex;
	justify-content: center;
	flex-direction: row;
	flex-flow: row wrap;
	align-items: flex-start;
}

.thumbnails .item {
  width:365px;
  margin:20px
}

.thumbnails img {
	width:100%;
}

.thumbnails .item p {
  font-size: 16px;
  margin-top: 16px;
}

.avatar {
	width: 100px;
	display:block;
	margin:100px auto 20px;
}

#steps-grid {
  display: flex;
  margin-bottom:100px;
}

#steps-grid div {
  max-width:350px;
  text-align:center;
}

#steps-grid .arrow {
  width:100px;
  padding-top:100px;
  font-size:26px;
  color:#b7b7b7;
}

#steps-grid .arrow:after {
  content: "⟶";
}


#steps-grid img {
  width:200px;
}

#steps-grid p {
  margin:0 auto;
}

@media screen and (max-width: 800px) {
  #steps-grid { display:block; }
  #steps-grid div { margin:0 auto; }
  #steps-grid .arrow { margin:0 auto; padding:20px 0; }
  #steps-grid .arrow:after { content:"↓" }
  h1 { font-size:30px; max-width: 340px; }
  h2 { font-size: 26px; margin:0 0 20px;}
  h1 img { width:20px; top:0px; right:-2px; }
  .wrap.palettes p { font-size:16px; }
  .wrap.palettes p.big { margin-bottom:10px; font-size:18px; }
  p.big.first { max-width:260px; font-size:20px; }
  .thumbnails { margin-top:30px; }
  .content .text { padding:0 14px; }
  .content .text p.big { font-size:16px; margin-top:-15px; }
}

@media screen and (max-width: 400px) {
	body { padding:120px 12px; }
	p.big { font-size:16px ; }
  .thumbnails .item { width:100%; }
  .thumbnails .item p { margin-top:10px; font-size:14px; }
  .avatar { margin: 50px auto 20px; }
  h2 { font-size:26px; }
}

p {
    line-height: 150%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.shadow {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.50);
}

.ba-slider {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
}
.ba-slider img {
    width: 100%;
    display: block;
}

.resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.handle {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -2px;
    background: white;
    cursor: ew-resize;
}


.handle:after {
    position: absolute;
    top: 50%;
    right: -27px;
    width: 56px;
    height: 56px;
    margin: -28px 0 0 -28px;
    transition: all 0.2s;
    content: ' ';
    background-image: url("/Images/arrows.png");
    background-size: 56px;
    border-radius: 50%;
}
